body{
    background-color: #F7F6F3;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
}

h1 {
    font-family: Unbounded, serif;
    font-style: normal;
        font-weight: 500;
    font-size: 48px;
}

h2 {
    font-family: Unbounded, serif;
    font-style: normal;
        font-weight: 200;
    font-size: 32px;
}

h3 {
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-weight: 400;
}

header{
    grid-area: header;
    font-family: Unbounded, serif;
}

.navMenu {
    position: absolute;
    top: 10%;
    left: 50%;
  }
  
  .navMenu a {
    color: #333333;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #724993;
  }

#footer{
    grid-area: footer;
}

.main{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
}

#hero {
    height: 100vh;
}

button{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #724993;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:focus, button:hover {
    background-color:#724993;
    color: #F7F6F3;
}

.proj {
    grid-template-columns: 1.5fr 0.25fr 1fr;
    display: grid;
}

.projName {
    display: flex;
    align-items: center;
    grid-column-start: 3;
}

.projImg {
    width: 100%;
    transition: all .5s ease-in-out;
}

.projImg:hover {
    transform: scale(1.05);
}

.banner {
    background-color: #724993;
}

.gridLayout {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 5%;
}

.caseStudyInfo {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    display: grid;
    gap: 5%;
}