body{
    background-color: #F7F6F3;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

/* text*/
h1 {
    font-family: Unbounded, serif;
    font-style: normal;
        font-weight: 500;
    font-size: 48px;
}

h2 {
    font-family: Unbounded, serif;
    font-style: normal;
        font-weight: 200;
    font-size: 32px;
}

h3 {
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-weight: 400;
}

h4 {
    font-family: Unbounded;
    margin-bottom: -10px;
    font-size: 16px;
    /* font-weight: 800; */
    text-transform: uppercase;
    /* letter-spacing: 2px; */
}

#titleText {
    font-size: 8vw;
    line-height: 1.5;
    text-align: center;
    padding-right:20%;
}

#subtitleText {
    font-size: 2vw;
    line-height: 0.1;
    text-align: left;
    color: #F7F6F3;
    /* padding-right:20%; */
}

b {
    font-weight: 800;
}

header{
    grid-area: header;
    font-family: Unbounded, serif;
    margin:0;
    padding:0;
}

/* nav bar*/
.navMenu {
    /* position: absolute; */
    margin-top: 4%;
    /* left: 50%; */
    vertical-align: middle;
}
  
.navMenu a {
    float: right;
    color: #333333;
    text-decoration: none;
    text-align: center;
    display: inline;
    width: 160px;
}
  
.navMenu a:hover {
    color: #724993;
    /* background-image:url('assets/stars.png'); */
}

li {
    list-style: none;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
    display: inline;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    font-size: 16px;
    width: 160px;
    outline: none;
    color: #333;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    padding: 0;
    margin: 0; /* Important for vertical align on mobile phones */
  }

.dropbtn:hover, .dropbtn:active, .dropbtn:focus {
    color:#724993;
}

  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 1.5vw;
    margin-bottom: 1vh;
    background-color: #F7F6F3;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    width: 100px;
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 5px;
  }


/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #333;
    display: block;
    text-align: left;
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right:10px;
  }

.dropdown-content a:active {
    background-image: url(assets/stars.png);
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    
  }

  .show {
    display: block;
  }

#footer{
    grid-area: footer;
    margin-bottom:2%;
    padding-top: 10%;
    text-align: center;
}

.main{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 8%;
}

#hero {
    border-radius: 10px;
    margin-left: -8%;
    margin-right: -8%;
    height:75vh;
    align-content: left;
    grid-template-columns: 0.4fr 1fr;
    display: grid;
    gap: 5%;
}

button{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #724993;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color:#724993;
    color: #F7F6F3;
}

.proj {
    grid-template-columns: 1.5fr 0.25fr 1fr;
    display: grid;
}

.projName {
    display: flex;
    align-items: center;
    grid-column-start: 3;
}

.projImg {
    width: 100%;
    transition: all .5s ease-in-out;
}

.projImg:hover {
    transform: scale(1.05);
}

.banner {
    background-color: #724993;
}

.gridLayout {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 5%;
}

.columnLayout {
    grid-template-columns: 0.5fr 0.4fr;
    display: grid;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.columnLayoutRight {
    grid-template-columns: 0.75fr 1fr;
    display: grid;
    gap: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.columnLayoutLeft {
    grid-template-columns: 1fr 0.75fr;
    display: grid;
    gap: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.columnText {
    display: flex;
    align-items: center;
}

.columnLayoutSmallLeft {
    grid-template-columns: 0.4fr 1fr;
    display: grid;
    gap: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.columnLayoutSmallRight {
    grid-template-columns: 1fr 0.4fr;
    display: grid;
    gap: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.caseStudyInfo {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    display: grid;
    gap: 5%;
}

#aboutColumn {
    grid-template-columns: 0.5fr 1fr;
    display: grid;
    gap: 8%;
    padding-left: 8%;
    padding-right:2%;
}

.triColumn {
    grid-template-columns: 1.5fr 1.25fr 1.5fr;
    display: grid;
    gap: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#scrollButton {
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 5%;
    right: 5%;
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color:#724993;
    color: #F7F6F3;
  }

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    /* backface-visibility: hidden; */
    perspective: 1000px;
    animation-play-state: running;
}
  
@keyframes shake {
    10%, 90% {transform: translate3d(-1px, 0, 0);}
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
}

  #seeMore {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right:10%;
    justify-items: center;
  }

  .sectionBorder {
    border-bottom: 1px solid rgba(51,51,51, 0.6);
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: -8%;
    margin-right: -8%;
    padding-left: 8%;
    padding-right: 8%
  }

#homeHero {
    height:101vh; 
    width: 100vw; 
    color:#333;
    margin-left: -13%;
    position: relative;
    margin-top: -11%;
}

#heroDescript {
    animation-duration:2s; 
    animation-delay:1s; 
    opacity: 0;
    text-align: center; 
    margin-top: -4%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 0;
    margin-left: 35%;
    position: relative;
    font-size:calc(12px + 1.5vw);
}

/* images or icons */
#profileImg {
    border-radius: 10px;
    width:80%;
}

#happyFace {
    width: 12vw;
    position: relative;
    vertical-align: middle;
    left: 0%;
    bottom: 0%;
    z-index: 2;
    cursor: pointer;
}

#arrowIcon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: block;
    cursor: pointer;
}

#arrowStars {
    position: absolute;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 8.5%;
    width: 15%;
}

/* animations */
@-webkit-keyframes rotate {
    0% {transform: rotate(-30deg)}
    to {transform: rotate(30deg)}
}

@keyframes rotate {
    0% {transform: rotate(-30deg);}
    to {transform: rotate(30deg);}
}

.rotate {
    animation: rotate 1.6s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

@keyframes slide-in {
    0% {transform: translateX(200%); }
    100% {transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(200%); }
    100% { -webkit-transform: translateX(0%); }
}

.slide-in {
    animation: slide-in 1.5s forwards;
    -webkit-animation: slide-in 1.5s forwards;
}

@keyframes fadeIn {
    0% {opacity:0; transform:translateY(30%);}
    100% {opacity:1; transform:translateY(0%);}
}
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0; -webkit-transform: translateY(30%);}
    100% {opacity:1; -webkit-transform: translateY(0%);}
}

.fade-in {
    animation: fadeIn ease 1s forwards;
    -webkit-animation: fadeIn ease 1s forwards;
}

.to-slide-up {
    opacity: 0;
}

  mark {
    --color1: #BDC8FF;
    --color2: #BDC8FF;
    --height: 100%;    
    all: unset;
    background-image: linear-gradient(var(--color1), var(--color2));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 var(--height);
    animation: highlight 900ms 1 ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused; 
  }
  @keyframes highlight {
    to {
      background-size: 100% var(--height);
    }
  }

  /* #darkbox { width:1280px; height:720px; position:absolute;
    top:0; left:0; background-color:#333; overflow: hidden; text-align:center;
}
.darkboximg { padding:5%; max-width: 1216px; max-height: 684px; } */

  #gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:10px; 
    -moz-column-count:5;
    -moz-column-gap:10px;
    column-count:5;
    column-gap:0px;
    margin-left: 5%;
    margin-right: 5%;
 }

 #gallery img {
    width: 90% !important;
    height: auto !important;
    margin-bottom:20px; /* to match column gap */
    /* transition: filter 2s; */
 }

 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }

 .radial-gradient {
    position:relative;
    top:0px;
    left: 0;
    height: 100%;
    width: 100%;
    
    /*Fallback if gradeints don't work */
    background: #D7C1E2;
    /*Linear gradient... */
    background: 
    linear-gradient(to top, #F7F6F3 0.1, #F7F6F3 0.3),
    radial-gradient(at center, rgb(100, 127, 214), #D7C1E2);
      
}


/* work on fade edge of hero transparent

ol {
    border: 1px #F7F6F3 dashed;
    position: relative;
    padding: 0;
    margin:0;
  }
  
  ol:after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent, F7F6F3 90%);
    width: 100%;
    height: 100%;
  } */